header {
  display: flex;             
  align-items: center;       
  justify-content: space-between;
  padding: 20px 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  box-sizing: border-box
}

header .logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
} 

header .logo-title img {
  height: 50px;
}

header h1 {
  font-family: "pacifico", cursive;
  font-style: italic;
  font-weight: 600;
  font-size: 36px;
  color: navy;
  text-shadow: 1px 1px 0 white;
}

nav {
    flex-shrink: 0;
}

nav ul.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav ul.menu li a {
  position: relative;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  padding: 5px 0;
  white-space: nowrap;
}

nav ul.menu li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: yellowgreen;
  transition: width 0.3s ease-in-out;
}

nav ul.menu li a:hover::after {
  width: 100%;
}

.hero {
  height: 100vh;
  background: url("images/hero.jpg") center / cover no-repeat;
  position: relative;
}

.hero-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
  color: white;
}
