
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

header {
  display: flex;             
  align-items: center;       
  justify-content: space-between;
  padding: 20px 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  box-sizing: border-box
}

header .logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
} 

header .logo-title img {
  height: 60px;
  width: auto;
}

header h1 {
  font-family: "montserrat", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 0.1px;

  background: linear-gradient(90deg, #2b12be, #bab9b9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav {
    flex-shrink: 0;
}

nav ul.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav ul.menu li a {
  position: relative;
  text-decoration: none;
  color: #200aca;
  font-weight: 600;
  padding: 5px 0;
  white-space: nowrap;
}

nav ul.menu li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: yellowgreen;
  transition: width 0.3s ease-in-out;
}

nav ul.menu li a:hover::after {
  width: 100%;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;  
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.hero-video {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 200px;
  height: auto;
  z-index: 1;
  pointer-events: none;
}

.hero-content {
  position: relative;
  z-index: 2;
  top: 50%;
    transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
  color: white;
}
